{{> menu active="about"}}

<section class="hero">
  <div class="hero-body has-text-centered">
   <section class="ui center aligned middle aligned segment">
  <h1 class="title is-1">Trail Time</h1>
  <br>
  <section>
    <h3 class="title is-3">What we do</h3>
    <p>
       When going out on a trail, it's important you consider the grading of the trail and ensure it matches your ability and level of fitness.
       <br>
      <img class="image container is-256x256" <img src="/images/trail-img.jpg"> 
       </p>
  </section>
  <br>
  <section>
    <h2 class="title is-2">Why we do it</h2>
    <p>
      When you're looking for your next trail adventure, the TrailLink apps can help you find trails near your location. Just launch the TrailLink app and let TrailLink guide your way!
      <br>
      <img class="image container is-256x256" src="/images/trail-img2.jpg"> 
  </section>
  <br>
  <section>
    <h2 class="title is-2">How we do it</h2>
    <p>
      Our TrailLink apps offer access to offline trail maps which you can download before you embark on your next great adventure. Your first offline map is free!
      <br>
      <img class="image container is-256x256" src="/images/trail-img3.jpg">
    </p>
  </section>
  </main>
</section>
</section>
