{{> menu active="noticeboard"}}

<section class="section">
  <section class="ui center aligned middle aligned segment">
  <h1 class="title is-1">Post A Notice</h1>
  <br>
  <section>
  {{> add-notice}}
  {{> list-notice}}
</section>