{{> menu active="public"}}
<section class="section">
  <section class="ui center aligned middle aligned segment">
  <h1 class="title is-1">Public POI's</h1>
  <br>
  <section>
  {{> add-public-trails}}
</section>
<section class="section">
  {{> list-public-trails}}
</section>