<form class="box" action="/traillist/{{traillist._id}}/addtrail" method="POST">
  <label>Enter Trail Details:</label>
  <div class="field is-horizontal">
    <div class="field-body">
      <div class="field">
        <input class="input" type="text" placeholder="Enter trail name" name="title">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter location" name="location">
      </div>
      <div class="field">
        <input class="input" type="text" placeholder="Enter type" name="type">
      </div>
    </div>
  </div>
  <button class="button is-primary">Add Trail</button>
</form>