<form action="/review/addReview" method="POST">
  <div class="field">
    <label class="label">Review</label> <input class="input" type="text" placeholder="Enter Trail title" name="review">
  </div>
  <div class="field">
    <label class="label">Rating</label> <input class="input" type="number" placeholder="Enter star rating" name="rating">
  </div>
  <button class="button is-link">Add Review</button>
</form>