<form action="/dashboard/addtraillist" method="POST">
  <div class="field">
    <label class="label">Trail list</label> <input class="input" type="text" placeholder="Enter Trail title" name="title">
  </div>
  <button class="button is-link">Add Trail</button>
</form>