<form action="/notice/addNotice" method="POST">
  <div class="field">
    <label class="label">Review</label> <input class="input" type="text" placeholder="Add Noticeboard post" name="post">
  </div>
  <div class="select is-fullwidth">
       <select class="select is-fullwidth" name="urgency">
        <option disabled selected>Urgency</option>
        <option>Low</option>
        <option>Medium</option>
        <option>High</option>
      </select>
      </div>
  <button class="button is-link">Add Notice</button>
</form>