<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Trail Name</th>
      <th>Review</th>
      <th>Rating</th>
    </tr>
  </thead>
  <tbody>
    {{#each reviews}}
      <tr>
        <td>
          {{trail}}
        </td>
        <td>
          {{review}}
        </td>
        <td>
          {{rating}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>
