<table class="table is-fullwidth">
  <thead>
    <tr>
      <th>Post</th>
      <th>Urgency</th>
    </tr>
  </thead>
  <tbody>
    {{#each notices}}
      <tr>
        <td>
          {{post}}
        </td>
        <td>
          {{urgency}}
        </td>
      </tr>
    {{/each}}
  </tbody>
</table>