<nav class="navbar">
  <div class="navbar-brand">
    {{> trail-time-brand}}
  </div>
  <div class="navbar-menu" id="navMenu">
    <div class="navbar-end">
      <div class="navbar-item">
        <div class="buttons">
          <a id="dashboard" class="button" href="/dashboard"> Dashboard </a>
          <a id="about" class="button" href="/about"> About </a>
          <a id="about" class="button" href="/review"> Reviews </a>
          <a id="logout" class="button" href="/notice"> Noticeboard </a>
          <a id="logout" class="button" href="/public"> Public Trails </a>
          <a id="logout" class="button" href="/logout"> Logout </a>
          <a id="user" class="button" href="/user"> Edit user </a>
        </div>
      </div>
    </div>
  </div>
</nav>
